.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.icon-nav{
	width: 32px !important;
   	height: 32px !important;
   	margin-right: 5px;
}

.navbar-nav.navbar-left{
   display: inline-block;
   margin-left: 5px;
}

.navbar-nav.navbar-right{
   display: inline-block;
   vertical-align: middle;
   margin-left: 5px;
}


.profile-link{
	color:#2d436b !important;
}

.container{
	margin-left : 50px;
	margin-right: 50px;
	margin-top: 20px;
}

.row{
	margin-top : 10px;
}

.card {		
    margin: 15px; /* Added */
}


.member-col{
	float:right;
}

.members{
	color:black !important;
}

/* here to change image format on cards */
.card-img-top{
	width: 240px;
	height: 240px;
}

.list-members{
  margin: 5px;
  text-align: center !important;
}

.identity, .follow {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
}

.identity{
	width: 150px;
	font-size: small;
}

.signout{
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	margin-top: 20px;
}

/* PROFILE.jsp class */
.profile-logo{
	width: 160px !important;
   	height: 160px !important;
   	margin: 5px;	
}

.profile-information{
	margin: 30px;
}

.profile-information-body{
	margin-top: 30px;
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}